.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 16px;
}

.article {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  justify-content: space-between;
}
